.main{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin:2rem;
}

.container{
    height:50vw;
    width:50vw;
    position: relative;
}

.container img{
    border-radius: 100%;
}

@media screen and (min-width:600px){
    .main{
        flex-direction: row;
        text-align: left;
        align-items: flex-start;
        gap:2rem;
    }
    .content{
        width:50vw;
    }
}

