.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.ratecontainer{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    text-align: center;
    gap:1rem;
}

.rates{
    display: flex;
    align-items: center;
    gap:1rem;
}

.ratestext{
    text-align: left;
}

.ratestext p{
    font-size: 1.25rem;
}

.container{
    height:60vh;
    width:50vw;
    position: relative;
}

.container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10rem;
}

.addfees{
    margin-top: 4rem;
}
.addfeescontainer{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap:1rem;
}

.addfeesinfo{
    border: 3px solid #5D3D87;
    border-radius: 1rem;
    padding:1rem;
    text-align: left;
}

.price{
    border: 3px solid #5D3D87;
    border-radius: 3rem;
    font-family: 'Rubik', serif;
    font-size: 1rem;
    padding:0.5rem 1rem;
}

.payinfo{
    display: flex;
    flex-direction: column;
    margin-top:4rem;
}

.payinfo ul{
    padding: 0;
    text-align: left;
    list-style: none;
}

.payinfo li{
    background-color: #5D3D87;
    color: #F5F4EB;
    margin-bottom:1rem;
    padding:1rem;
    border-radius: 1rem;
}

.willwont{
    margin:2rem;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap:1rem;
}

.willwont h2{
    border: 3px solid #5D3D87;
    border-radius: 3rem;
    padding:0.5rem 1rem;
}

.willwont ul{
    text-align: left;
    border: 3px solid #5D3D87;
    border-radius: 1rem;
    padding:3rem;
}

.toc ul{
    text-align: left;
    background-color: #5D3D87;
    color: #F5F4EB;
    border-radius: 2rem;
    padding:2rem;
}

.toc li{
    margin-bottom: 1rem;
}

@media screen and (min-width:600px){
    .ratecontainer{
        grid-template-columns: repeat(3,1fr);
        gap:5rem;
        line-height: 1;
    }
    
    .rates{
        flex-direction: column;
    }
    
    .ratestext{
        text-align: center;
    }

    .ratestext p{
        font-size: 1.5rem;
    }

    .container{
        height:30vw;
        width:25vw;
    }
    .addfeescontainer{
        grid-template-columns: repeat(3,1fr);
    }
    .price{
        font-size: 1.5rem;
    }
    .payinfo{
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
    }
    .payinfo li{
        padding:1rem 2rem;
    }

    .willwont{
        grid-template-columns: repeat(2,1fr);
        grid-gap:10rem;
        line-height: 2;
    }
    .toc{
        text-align: left;
        margin:0 2rem;
    }

    .toc ul{
        line-height: 2;
    }
}