.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    gap:2rem;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:75vh;
    width:98.5%;
    position: relative;
    padding:1rem 0.5rem;
}

.header img, .container img{
    height: 100%;
    width:100%;
    object-fit: cover;
}

.heading{
    color:#F5F4EB;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
}

.section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap:1rem;
    width:100%;
    margin:2rem 0;
}

.section .content{
    background-color: #5D3D87;
    color: #F5F4EB;
    border-radius: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content{
    padding:4rem 0;
}

.container{
    height:50vw;
    width:auto;
}

@media screen and (min-width:600px){
    .section{
        grid-template-columns: repeat(2, 1fr);
    }
    .section .content{
        text-align: left;
        align-items: flex-start;
        padding:1rem;
    }
  }